@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    background-color: rgb(17 24 39);
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

[data-clicked='false'] > #menuContainer {
    visibility: hidden;
    display: none;
}

[data-clicked='true'] > #menuContainer {
    visibility: visible;
    display: block;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

p {
    margin-bottom: 24px;
    text-align: justify;
}

h1 {
    font-size: 3.25rem;
    font-weight: bold;
}

h2 {
    font-size: 2.5rem;
    font-weight: bold;
}

h3 {
    font-size: 2rem;
    font-weight: bold;
}

h4 {
    font-size: 2rem;
    margin-top: 24px;
    margin-bottom: 12px;
}

h5 {
    font-size: 1.5rem;
    font-weight: lighter;
}

h6 {
    font-size: 1rem;
    font-weight: lighter;
}

blockquote {
    color: rgb(139, 148, 158);
    margin: 1em 0;
    padding-left: 3em;
    border-left: 0.25em #52525b solid;
}

p > a {
    color: #0ea5e9;
}

p > a:visited {
    color: #0369a1;
}

table {
    margin: 1em 0;
}

td, th {
    border: 1px solid #ddd;
    padding: 1em;
}

tr:nth-child(even){background-color: #374151;}
tr:hover {background-color: #4b5563;}

th {
    background-color: rgb(40, 42, 54);
}

hr {
    border-color: #52525b;
}

@media (prefers-color-scheme: dark) {
    html {
        color-scheme: dark;
    }

    body {
        color: white;
    }
}

#markdownContainer {
    width: 95%;
}

@media screen and (min-width: 750px) {

    #markdownContainer {
        width: 55%;
    }
}

#desktopNav {
    margin-left: auto;
}
#mobileNav {
    margin-left: auto;
}

@media screen and (min-width: 410px){
    #desktopNav {
        display: block;
        visibility: visible;
    }
    #mobileNav {
        display: none;
        visibility: hidden;
    }
}

@media screen and (max-width: 410px){
    #desktopNav {
        display: none;
        visibility: hidden;
    }
    #mobileNav {
        display: block;
        visibility: visible;
    }
}